@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;700&display=swap'); /*imported font from google fonts*/


body {
    margin: 0;
    padding: 0;
    font-family: kanit, sans-serif;
}

.active {
    font-weight: bold;
}

#logo {
    float: left;
    font-size: 2.0em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 10px;
}

#menu-items {
    float: right;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    font-size: 0.8em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin: 1.5%;

}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:hover {
    font-weight: bold;
    color: rgb(0, 0, 0);
}

#hero-image img {
    width: 99.1vw;
    height: auto;

}

#mission-statement {
    text-align: center;
    text-transform: uppercase;
    background-color: yellow;
    padding: 25px;
    margin-top: -6px;
    box-shadow: 1px -4.9px 10px 1px;
}

#fac-header {
    background-color: #000000;
    margin-top: -20px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: -20px;

}

#fac-header h2 {
    text-align: center;
}

#facilities {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #000000be;
}

#facilities img {
    width: 715px;
    height: auto;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0 0 20px 0px;
}

#offer-header {
    background-color: #000000;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: -20px;


}

#offer-header h2 {
    text-align: center;
}

#membership-hp {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#membership-hp div {
    margin-right: 5px;
    margin-top: -15px;
}

#membership-hp div h2 {
    position: absolute;
    margin-top: 135px;
    margin-left: 65px;
    background-color: yellow;
    color: rgb(0, 0, 0);
    opacity: 90%;
    border-radius: 10px;
    text-transform: uppercase;
}

#membership-hp div h2:hover {

    position: absolute;
    margin-top: 135px;
    margin-left: 65px;
    background-color: rgba(255, 255, 114, 0.918);
    color: rgb(0, 0, 0);
    opacity: 90%;
    border-radius: 10px;
    text-transform: uppercase;
}

#membership-hp img {
    width: 29.5em;
}

#socials-header {
    background-color: #000000;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: -20px;
}

#socials-header h2 {
    text-align: center;
}

#container-7 {
    margin-top: -18px;
    height: 250px;
    box-shadow: 0 0 3px 0px;
    background-color: black
}

.social-networks {
    text-align: center;

}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: yellow;

}

#copyright-info {
    text-align: center;
    padding: 25px;
    margin-top: 25px;
    text-transform: uppercase;

}

#container-2 {
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

#one-month {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: -15px;
    margin-left: -29px;
    width: 150%;
    height: auto;
    background: #1e1e1e;
}

#one-month-img {
    margin-top: 5px
}

#one-month-img img {

    width: 100%;
    height: auto;

}

#one-month-contents {
    text-transform: uppercase;
    color: white;
    letter-spacing: 5px;
    margin-left: 15px;

}

#one-month-contents h2 {
    text-decoration: underline;
}

#one-month-ul {

    list-style-type: disc;

}

#one-month-button {

    background: yellow;
    width: fit-content;
    border-radius: 5px;

}

#one-month-button:hover {

    background: rgb(255, 255, 134);

}

#one-month-button a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#container-2-2 {
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

#three-month {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: -15px;
    width: 150%;
    height: auto;
    background: #1e1e1e;
}

#three-month-img {
    margin-top: 5px
}

#three-month-img img {

    width: 100%;
    height: auto;

}

#three-month-contents {
    text-transform: uppercase;
    color: white;
    letter-spacing: 5px;
    margin-left: 15px;
}

#three-month-contents h2 {
    text-decoration: underline;
}

#three-month-ul {
    list-style-type: disc;
}

#container-2-3 {
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

#six-month {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: -15px;
    margin-left: -9px;
    width: 150%;
    height: auto;
    background: #1e1e1e;
}

#six-month-img {
    margin-top: 5px
}

#six-month-img img {
    width: 100%;
    height: auto;
}

#six-month-contents {
    text-transform: uppercase;
    color: white;
    letter-spacing: 5px;
    margin-left: 15px;

}

#six-month-contents h2 {
    text-decoration: underline;
}

#six-month-ul {
    list-style-type: disc;
}

#container-3 {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: -15px;
    margin-bottom: 25px;
}

#bg-image {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: -15px;
    margin-bottom: 25px;
}

#sign-up-form {
    position: absolute;
    width: 900px;
    height: 450px;
    background-color: yellow;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#sign-up-form h2 {
    text-decoration: underline;
}

#sign-up-contents {
    display: flex;
}

#sign-up-contents,
form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.join-button {
    background: gray;
    color: white;
    font-size: x-large;
    margin-top: 35px;
    border-radius: 5px;
    font-weight: 900;
}

/* media queries */
@media screen and (max-width: 912px) {

#container-1 {
    width: 120vw;
    height: auto;
    }

#hero-image img {
    width: 121vw;
    height: auto;
}

#mission-statement {
    width: 115vw;
    height: auto;
}

#fac-header {
    width: 129vw;
    height: auto;
}

#facilities {
    width: 129vw;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    background-color: #000000be;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#offer-header {
    width: 129vw;
    height: auto;
}

#membership-hp {
    margin-top: -20px;
    width: 129vw;
    height: auto;
    margin-bottom: 5px;
    background: #000000be;

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#membership-hp div {
    margin-right: 5px;
    margin-top: 5px;
}

#socials-header {
    width: 129vw;
    height: auto
}

#container-7 {
    width: 129vw;
    height: auto;
}

#copyright-info {
    width: 129vw;
    height: auto;
}

}