@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;700&display=swap');
/* imported font from google fonts "kanit" */

body {
    margin: 0;
    padding: 0;
    font-family: kanit, sans-serif;
}

.active {
    font-weight: bold;
}

#logo {
    float: left;
    font-size: 2.0em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 10px;
}

#menu-items {
    float: right;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    font-size: 0.8em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin: 1.5%;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:hover {
    font-weight: bold;
    color: rgb(0, 0, 0);
}

#hero-image img {
    width: 100%;
    height: auto;
}

/* homepage css*/

#mission-statement {
    text-align: center;
    text-transform: uppercase;
    background-color: yellow;
    padding: 25px;
    margin-top: -6px;
    box-shadow: 1px -4.9px 10px 1px;
}

#fac-header {
    background-color: #000000;
    margin-top: -20px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: -25px;
}

#fac-header h2 {
    text-align: center;
}

#facilities {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #000000be;
}

#facilities img {
    width: 715px;
    height: auto;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0 0 20px 0px;
}

#offer-header {
    background-color: #000000;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: -25px;
    margin-bottom: -20px;
}

#offer-header h2 {
    text-align: center;
}

#membership-hp {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: -20px;
    margin-bottom: 25px;
    background-color: #000000be;
}

#membership-hp div {
    margin-right: 5px;
    margin-top: 5px;
}

#membership-hp div h2 {
    position: absolute;
    margin-top: 135px;
    margin-left: 65px;
    background-color: yellow;
    color: rgb(0, 0, 0);
    opacity: 90%;
    border-radius: 10px;
    text-transform: uppercase;
}

#membership-hp div h2:hover {
    position: absolute;
    margin-top: 135px;
    margin-left: 65px;
    background-color: rgba(255, 255, 114, 0.918);
    color: rgb(0, 0, 0);
    opacity: 90%;
    border-radius: 10px;
    text-transform: uppercase;
}

#membership-hp img {
    width: 29.5em;
}

#socials-header {
    background-color: #000000;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: -25px;
}

#socials-header h2 {
    text-align: center;
}

#container-7 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    height: 250px;
    box-shadow: 0 0 3px 0px;
    background-color: black
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline-flex;
    padding: 15px 35px 15px 30px;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: yellow;
}

#copyright-info {
    text-align: center;
    padding: 25px;
    margin-top: 25px;
    text-transform: uppercase;
}

/*membership page css*/

#container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000be;
    margin-top: -13px;
    margin-bottom: 25px;
}

#one-month,
#three-month,
#six-month {
    box-shadow: 0 0 3px 0px;
    margin-bottom: 5px;
}

#one-month {
    margin-top: 5px;
}

#one-month-contents,
#three-month-contents,
#six-month-contents {
    background-color: black;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin-top: -27px;
    margin-bottom: -5px;
}

#one-month-contents li,
#three-month-contents li,
#six-month-contents li {
    list-style-type: none;
}

#one-month-button {
    margin-bottom: 5px;
}

#one-month-button a {
    background-color: yellow;
    color: #000000;
    padding: auto;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

#one-month-contents h2,
#three-month-contents h2,
#six-month-contents h2 {
    text-decoration: underline;
}

#container-3 {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: -15px;
    margin-bottom: 25px;
}

/*sign-up page css*/

#container-4 {
    background: url("../images/sign-up.png");
    margin-top: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    margin-bottom: 26px;
    width: 100%;
    height: 50vh;
}

#bg-image {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: -15px;
    margin-bottom: 26px;
    width: 83.83%;
    height: auto;
}

#sign-up-form {
    position: absolute;
    width: 900px;
    height: 450px;
    background-color: yellow;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#sign-up-form h2 {
    text-decoration: underline;
}

#sign-up-contents {
    display: flex;
}

#sign-up-contents,
form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.join-button {
    background: gray;
    color: white;
    font-size: x-large;
    margin-top: 35px;
    border-radius: 5px;
    font-weight: 900;
}

/* media queries */
@media screen and (max-width: 390px) {
    #container-1 {
        font-size: 40%;
    }

    #mission-statement {
        font-size: 50%;
    }

    #facilities {
        flex-direction: column;
    }

    #facilities img {
        width: 390px
    }

    #membership-hp {
        display: flex;
        background-color: #000000be;
        flex-direction: column;
        align-items: center;
    }

    #membership-hp img {
        width: 100%;
    }

    #membership-hp div {
        margin-right: 0px;
    }



    #membership-hp div h2 {
        font-size: 115%;
    }

    .social-networks {
        font-size: 80%;
        display: contents;
    }
}