@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;700&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: kanit, sans-serif;
}

/* nav bar code start */

.active {
    font-weight: bold;
}

#logo {
    float: left;
    font-size: 2.0em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
}

#menu-items {
    float: right;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    font-size: 0.8em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin: 1.5%;
    
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:hover {
    font-weight: bold;
    color: rgb(0, 0, 0);
}


/* nav bar css code end */

/* hero-image code start */

#hero-image img{
    width: 100vw;
    height: auto;

}

/* hero-image code end */


/* Mission Statement code start */

#mission-statement {
    text-align: center;
    text-transform: uppercase;
    background-color: yellow;
    padding: 25px;
    margin-top: -6px;
    box-shadow: 1px -4.9px 10px 1px;
}

/* Mission Statement code end */

/* equipment pictures code start */

#fac-header {
    background-color: #000000;
    margin-top: -20px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: -20px;

}

#fac-header h2 {
    text-align: center;
}

#facilities img {
    width: 50%;
    height: auto;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;
}

/* equipment pictures code end */


/*offers code start */
#offer-header {
    background-color: #000000;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: -20px;
    

}

#offer-header h2 {
    text-align: center;
}



/*offers code end */




/* footer */

#container-7 {
    height: 175px;
    
    }
    
    .social-networks {
        text-align: center;
    
    }
    
    .social-networks > li {
        display: inline;
    }
     
    .social-networks i {
        font-size: 160%;
        margin: 1%;
        padding: 5%;
        color: #3a3a3a;
    }

    #copyright-info {
        text-align: center;
        padding: 25px;
        margin-top: 25px;
        text-transform: uppercase;

    }